<section>

    <h2>Одиниці виміру</h2>

    <button class="btn" (click)="addModal('add', 0)" type="button">
        ДОДАТИ
    </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Назва</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let units of units; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{units.unitName}}</td>
                <td class="btn_tr">
                    <div class="edit button" (click)="addModal('edit',units)"></div>
                    <div class="dell button" (click)="delUnits(units)"></div>
                </td>
            </tr>
        </tbody>
    </table>



</section>