@import "../../shared/styles/input_style";

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  overflow: hidden;

  .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 60px;
    background-color: rgba(240, 248, 255, 0);
    background-image: url("../../../assets/icons/close.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .input_conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    .table_block {
      width: 40%;
      height: 100%;
      overflow: auto;

      .tbale {
        width: 100%;

        table {
          width: 100%;
          margin-top: 20px;

          thead {
            width: 100%;

            tr {
              border-bottom: var(--clr-grey);
            }
          }

          tbody {
            width: 100%;

            .group_name {
              width: 100%;
              text-align: center;
              margin-top: 16px;
              font-size: 20px;
              border-top: 0.5px solid var(--clr-grey);
              border-bottom: 0.5px solid var(--clr-grey);
            }

            .steps_line {
              width: 100%;
              height: auto;

              .btn_tr {
                width: 45px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                border-bottom: none;

                .up {
                  background-image: url("../../../assets/icons/up.png");
                }

                .down {
                  background-image: url("../../../assets/icons/doen.png");
                }

                .edit {
                  background-image: url("../../../assets/icons/edit.png");
                }

                .dell {
                  background-image: url("../../../assets/icons/dell.png");
                }

                .action {
                  width: 20px;
                  height: 20px;
                  margin: 5px;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }

              .image {
                width: 80px;
                height: 70px;
                overflow: hidden;

                img {
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }

    .add_instructions {
      width: 60%;
      height: 100%;
      position: relativ;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .top_block {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        padding: 5px 10px;
        text-align: center;
      }

      .add_step_block {
        width: 100%;
        height: 90%;
        position: relative;
        overflow: hidden;

        .fom_block {
          width: 100;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          overflow: auto;
          .instruction_block {
            width: 100%;
            height: 650px;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 15px 0;

            .del_group {
              width: 30px;
              height: 30px;
              position: absolute;
              top: 25px;
              right: 4px;
              border: none;
              cursor: pointer;
              background-image: url("../../../assets//icons/dell.png");
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
            }

            .name_group {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;

              input {
                width: 90%;
              }
            }

            .instruction {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-around;

              .image_block {
                width: 90%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .image {
                  width: auto;
                  height: 200px;
                  overflow: hidden;
                  margin-bottom: 10px;

                  img {
                    width: auto;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                .btn {
                  height: 30px;
                }
              }

              .content_step {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                input {
                  width: 90%;
                  height: 50px;
                }

                .step_area {
                  width: 90%;
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  .form-group {
                    width: 48%;
                  }
                }
              }
            }

            .btn {
              width: 60%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
