section {
  width: 100vw;
  height: auto;
  margin-top: 20px;
  padding: 2vh;
  display: flex;
  flex-direction: column;

  .buttons {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;

    .close {
      width: 30px;
      height: 30px;
      background-color: rgba(240, 248, 255, 0);
      background-image: url("../../../assets/icons/close.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
    button {
      width: 15vw;
      height: 90%;
      margin: 0;
    }
  }

  .slug {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;

    input {
      width: 95%;
      padding: 0;
      margin: 0;
      font-size: 21px;
    }
  }

  .form_block {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding: 2vh;
    form {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      .info_area {
        width: 100%;
        height: auto;
        display: flex;

        .select_type {
          width: 48%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          select,
          input {
            width: 95%;
            padding: 0;
            margin: 0;
            font-size: 21px;
          }
        }

        .mainImage {
          width: 48%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .progress_line {
            margin-top: 36px;
            width: 100%;

            .progress {
              width: 100%;
            }
          }

          .image_field {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 19px;

            .image {
              max-width: 100%;
              height: 800%;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              margin-bottom: 30px;
            }

            .btn {
              width: 175px;
              height: 52px;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }
        }
      }

      .batton_block {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
  h2 {
    width: 100%;
    text-align: center;
  }

  .article_area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3vh;
    border: 0.5px solid black;
    border-radius: 10px;
    h1 {
      width: 100%;
      text-align: center;
    }
  }
}
