@import "../../shared/styles/input_style";

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  overflow: hidden;

  .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 60px;
    background-color: rgba(240, 248, 255, 0);
    background-image: url("../../../assets/icons/close.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  .slug {
    width: 50%;
  }

  .slu_input {
    width: 40%;
  }

  .form_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .input_section {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;

      .data_block {
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;

        select,
        input {
          font-size: 21px;
        }

        .is-valid {
          border: 1px solid green;
        }
        .is-invalid {
          border: 1px solid red;
        }

        textarea {
          height: 150px;
          font-size: 21px;
        }
      }

      .image_block {
        .progress_line {
          width: 100%;

          .progress {
            width: 100%;
          }
        }

        .image_field {
          width: 100%;
          height: 300px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          position: relative;
          margin-top: 19px;

          .image {
            max-width: 100%;
            height: 300px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            margin-bottom: 30px;
          }

          .btn {
            width: 175px;
            height: 52px;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }

      .recipe_select {
        width: 100%;

        input {
          width: 100%;
          font-size: 21px;
        }

        .recipes_list {
          width: 100%;
          height: 300px;
          list-style: none;
          overflow: auto;

          .recipe_card {
            width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: left;
            font-size: 21px;

            &:hover {
              background-color: rgba(128, 128, 128, 0.477);
            }
          }
        }
      }
    }

    .batton_section {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
