section {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    padding: 20px;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;

    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: var(--clr-two);

    }

    table {
        width: 100%;
        margin-top: 20px;

        thead {
            width: 100%;

            tr {
                border-bottom: var(--clr-grey);
            }

        }

        &.active {
            display: none;
        }

        tbody {
            tr {
                .image {
                    width: 80px;
                    height: 70px;
                    overflow: hidden;

                    img {
                        height: 100%;
                    }
                }

                .btn_tr {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-bottom: none;

                    .button {
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-bottom: 5px;
                        
                    }

                    .edit {
                        background-image: url("../../../assets/icons/edit.png");
                    }

                    .dell {
                        background-image: url("../../../assets/icons/dell.png");
                    }
                }
            }
        }
    }




}