@import "../../shared/styles/input_style";

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;

  .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 60px;
    background-color: rgba(240, 248, 255, 0);
    background-image: url("../../../assets/icons/close.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .btn_block {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      margin: 0;
    }
  }

  .input_section {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-around;

    .table_block {
      width: 40%;
      height: 100%;
      padding: 10px;
      overflow: auto;

      .table {
        width: 100%;
        height: auto;

        table {
          width: 100%;

          thead {
            width: 100%;

            tr {
              border-bottom: var(--clr-grey);
            }
          }

          tbody {
            width: 100%;

            .group_name {
              width: 100%;
              text-align: center;
              margin-top: 16px;
              font-size: 20px;
              border-top: 0.5px solid var(--clr-grey);
              border-bottom: 0.5px solid var(--clr-grey);
            }

            .ing_line {
              .image {
                width: 80px;
                height: 70px;
                overflow: hidden;

                img {
                  height: 100%;
                }
              }
            }

            .btn_tr {
              width: 45px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-around;
              flex-direction: column;
              border-bottom: none;

              .up {
                background-image: url("../../../assets/icons/up.png");
              }

              .down {
                background-image: url("../../../assets/icons/doen.png");
              }

              .edit {
                background-image: url("../../../assets/icons/edit.png");
              }

              .dell {
                background-image: url("../../../assets/icons/dell.png");
              }

              .action {
                width: 20px;
                height: 20px;
                margin: 5px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }

    .input_block {
      width: 60%;
      height: 100%;
      padding: 10px;
      overflow: hidden;

      .input_list {
        width: 100%;
        overflow: auto;

        .input {
          width: 100%;
          height: 300ox;
          .del_group {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 25px;
            right: 4px;
            border: none;
            cursor: pointer;
            background-image: url("../../../assets//icons/dell.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

          .number_servings {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }

          .name_group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            input {
              width: 90%;
            }
          }

          .ingidient {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            .name_product {
              width: 100%;
              display: flex;
              justify-content: space-between;

              select {
                width: 45%;
                font-size: 21px;
              }
            }

            .number_product {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              input,
              select {
                width: 30%;
                font-size: 21px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
